<%- include('partials/navbar');-%>
<div class="container">
    <table class="table">
        <thead>
            <th scope="col">Serial No.</th>
            <th scope="col">Item Number</th>
            <th scope="col">Item Name</th>
            <th scope="col">Price</th>
            <th scope="col">Submit</th>
        </thead>
        <tbody>
            <% var sum = 0 %>
            <% for( let i = 0; i < products.length; i++ ) { %>
                <% const product = products[i] %>
                <tr>
                    <form action="/delete" method="post">
                    <th scope="row"><%= i+1 %></th>
                    <input type="hidden" name="item" value="<%= i %>">
                    <td><%= product._id%></td>
                    <td><%= product.name %></td>
                    <td><%= product.price %></td>
                        <td><button class="btn btn-danger">Cancel</button></td>
                    </form>
                </tr>
                <% var price = parseFloat(product.price); %>
                <% sum = sum + price; %>
            <% } %>
            
            <tr>
                <td></td>
                <td></td>
                <td>Total</td>
                <td><%= sum+",000.00" %></td>
                <form action="/cart" method="post">
                    <td><button class="btn btn-primary">Submit</button></td>
                </form>
            </tr>
        </tbody>
    </table>
</div>
<%- include('footer');-%>