<%- include('partials/navbar'); -%>


<div class="container mt-4">
    <div class="jumbotron mt-4">
        <h2>Welcome To Lifestyle Store</h2>
        <p>We have the Best Cameras,Watches and Shirts for you.No need to hunt around,We have Everything in one place.</p>
    </div>
    <div class="row text-center mb-3">
        <div class="card-deck">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/products/3.jpg" alt="">
                    <form action="/products" method="post" class="card-body">
                        <h5 class="card-title">Cannon EOS</h5>
                        <input type="hidden" name="title" value="Cannon EOS">
                        <input type="hidden" name="id" value="<%= id %>">
                        <p class="card-text"> <small>Price:Rs.36,000.00</small></p>
                        <input type="hidden" name="price" value="36,000.00">
                        <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/products/2.jpg" alt="">
                    <form action="/products" method="post" class="card-body">
                        <h5 class="card-title">Sony DSLR</h5>
                        <input type="hidden" name="title" value="Sony DSLR">
                        <input type="hidden" name="id" value="<%= id %>">
                        <p class="card-text"> <small>Price:Rs.40,000.00</small></p>
                        <input type="hidden" name="price" value="40,000.00">
                        <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/products/4.jpg" alt="">
                    <form action="/products" method="post" class="card-body">
                        <h5 class="card-title">Olympus DSLR</h5>
                        <input type="hidden" name="title" value="Olympus DSLR">
                        <input type="hidden" name="id" value="<%= id %>">
                        <p class="card-text"> <small>Price:Rs.80,000.00</small></p>
                        <input type="hidden" name="price" value="80,000.00">
                        <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center mb-3">
        <div class="card-deck">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/products/9.jpg" alt="">
                    <form action="/products" method="post" class="card-body">
                        <h5 class="card-title">Titan Model #301</h5>
                        <input type="hidden" name="title" value="Titan Model #301">
                        <input type="hidden" name="id" value="<%= id %>">
                        <p class="card-text"> <small>Price:Rs.13,000.00</small></p>
                        <input type="hidden" name="price" value="13,000.00">
                        <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/products/10.jpg" alt="">
                    <form action="/products" method="post" class="card-body">
                        <h5 class="card-title">Titan Model #201</h5>
                        <input type="hidden" name="title" value="Titan Model #201">
                        <input type="hidden" name="id" value="<%= id %>">
                        <p class="card-text"> <small>Price:Rs.3,000.00</small></p>
                        <input type="hidden" name="price" value="3,000.00">
                        <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/products/12.jpg" alt="">
                    <form action="/products" method="post" class="card-body">
                        <h5 class="card-title">Faber Luba #111</h5>
                        <input type="hidden" name="title" value="Faber Luba #111">
                        <input type="hidden" name="id" value="<%= id %>">
                        <p class="card-text"> <small>Price:Rs.18,000.00</small></p>
                        <input type="hidden" name="price" value="18,000.00">
                        <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center mb-3">
        <div class="card-deck">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/products/6.jpg" alt="">
                    <form action="/products" method="post" class="card-body">
                        <h5 class="card-title">Luis Phil</h5>
                        <input type="hidden" name="title" value="Luis Phil">
                        <input type="hidden" name="id" value="<%= id %>">
                        <p class="card-text"> <small>Price:Rs.1,000.00</small></p>
                        <input type="hidden" name="price" value="1,000.00">
                        <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/products/14.jpg" alt="">
                    <form action="/products" method="post" class="card-body">
                        <h5 class="card-title">Jhalsani</h5>
                        <input type="hidden" name="title" value="Jhalsani">
                        <input type="hidden" name="id" value="<%= id %>">
                        <p class="card-text"> <small>Price:Rs.1,300.00</small></p>
                        <input type="hidden" name="price" value="1,300.00">
                        <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" src="images/products/13.jpg" alt="">
                    <form action="/products" method="post" class="card-body">
                        <h5 class="card-title">John Zok</h5>
                        <input type="hidden" name="title" value="John Zok">
                        <input type="hidden" name="id" value="<%= id %>">
                        <p class="card-text"> <small>Price:Rs.1,500.00</small></p>
                        <input type="hidden" name="price" value="1,500.00">
                        <button type="submit" class="btn btn-primary btn-block">Add to Cart</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('footer'); -%>